# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE configurations
.idea/
.vscode/

# Local logs and temporary files
error_log.txt
*.log
